<a href="https://colab.research.google.com/github/heber-augusto/sus-kpis-analysis/blob/main/sia/indicadores_monitor_rosa_sia_pa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apresentação
Este notebook foi desenolvido como parte do projeto Monitor Rosa, um conjunto de ferramentas, softwares e outros artefatos cujo principal objetivo é melhorar o cenário de diagnósticos de câncer de mama no Brasil, idealmente melhorando diminuindo a proporção de diagnósticos tardios/diagnósticos precoces.

Os arquivos utilizados neste notebook foram coletados através dos scripts presentes [neste repositório](https://github.com/heber-augusto/devops-pysus-get-files). Os arquios foram armazenados em um bucket do Google Storage no formato parquet compactados (gzip).

# Instalação de bibliotecas e pacotes para leitura de arquivos

## Configurações iniciais para conectar com bucket no Google Storage
 - Autenticação do Google Colab
 - Definição do nome do projeto

 Para a execução dos comandos desta seção, o arquio gcp-leitura.json deve ser inserido na raiz do colab.

In [1]:
from google.colab import auth
auth.authenticate_user()

# id do projeto
project_id = 'teak-ellipse-317015'
# id do bucket dentro do projeto
bucket_id = 'observatorio-oncologia'

# nome da pasta local para mapear
local_folder_name = 'colab'

# nome da pasta do projeto
project_folder_name = 'monitor'

!gcloud config set project {project_id}

Updated property [core/project].


To take a quick anonymous survey, run:
  $ gcloud survey

## Instalação para garantir montagem da pasta no bucket
Instalação do gcsfuse para mapear pasta do bucket no google colab

In [2]:
!echo "deb http://packages.cloud.google.com/apt gcsfuse-bionic main" > /etc/apt/sources.list.d/gcsfuse.list
!curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
!apt -qq update
!apt -qq install gcsfuse

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2537  100  2537    0     0  61878      0 --:--:-- --:--:-- --:--:-- 61878
OK
71 packages can be upgraded. Run 'apt list --upgradable' to see them.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following NEW packages will be installed:
  gcsfuse
0 upgraded, 1 newly installed, 0 to remove and 71 not upgraded.
Need to get 11.6 MB of archives.
After this operation, 27.4 MB of additional disk space will be used.
Selecting previously unselected package gcsfuse.
(Reading database ... 155653 files and directories currently installed.)
Preparing to unpack .../gcsfuse_0.41.4_amd64.deb ...
Unpacking gcsfuse (0.41.4) ...
Setting up gcsfuse (0.41.4) ...

## Nome/caminho do arquivo json contendo credenciais de acesso ao storage do Google

In [4]:
serice_account_json = '/content/gcp-leitura.json'

## Montagem do bucket em uma pasta local do google colab

In [5]:
!mkdir {local_folder_name}
!gcsfuse --key-file {serice_account_json} --implicit-dirs {bucket_id} {local_folder_name}

mkdir: cannot create directory ‘colab’: File exists
2022/07/28 10:55:44.710291 Start gcsfuse/0.41.4 (Go version go1.17.6) for app "" using mount point: /content/colab
2022/07/28 10:55:44.726460 Opening GCS connection...
2022/07/28 10:55:45.127626 Mounting file system "observatorio-oncologia"...
2022/07/28 10:55:45.165279 File system has been successfully mounted.

## Função para facilitar coleta de arquivo

In [6]:
import glob
import os

def get_files(state, year, month, file_type, file_group):
    initial_path = os.path.join(r'/content/',local_folder_name,project_folder_name)
    internal_folder = f"""{state}/{year}/{month}/{file_type}/{file_group}"""
    # print(f"{initial_path}/{internal_folder}/*.parquet.gzip")
    return glob.glob(f"{initial_path}/{internal_folder}/*.parquet.gzip")

# SIA PA: Análise exploratória

## Informações sobre filtros pertinentes ao contexto de câncer de mama:

### SIH: realizar filtro através da variável DIAG_PRINC (4 caracteres)
 * Filtro: C500, C501, C502, C503, C504, C505, C506, C508 e C509

### RHC: realizar filtro através da variável LOCTUDET (3 caracteres)
 * Filtro: C50

### SIA – APAC de Quimioterapia e Radioterapia (AQ e AR)
Realizar filtro através da variável AP_CIDPRI (4 caracteres)
 * Filtro: C500, C501, C502, C503, C504, C505, C506, C508 e C509

### SIA – Procedimentos ambulatoriais (PA)

Os arquivos de procedimentos ambulatoriais são um pouco diferentes por um motivo: a pessoa já pode ter o diagnóstico e está realizando um procedimento OU a pessoa está realizando um exame com finalidade diagnóstica (mamografia, ultrassonografia, etc). Então, neste caso, podemos pensar em dois filtros:

Realizar filtro através da variável PA_CIDPRI (4 caracteres)
 * Filtro: C500, C501, C502, C503, C504, C505, C506, C508 e C509

Realizar filtro através da variável do código de procedimento ambulatorial “PA_PROC_ID” (10 caracteres)
 * Filtros:
  * 201010569	BIOPSIA/EXERESE DE NÓDULO DE MAMA
  * 201010585	PUNÇÃO ASPIRATIVA DE MAMA POR AGULHA FINA
  * 201010607	PUNÇÃO DE MAMA POR AGULHA GROSSA
  * 203010035	EXAME DE CITOLOGIA (EXCETO CERVICO-VAGINAL E DE MAMA)
  * 203010043	EXAME CITOPATOLOGICO DE MAMA
  * 203020065	EXAME ANATOMOPATOLOGICO DE MAMA - BIOPSIA
  * 203020073	EXAME ANATOMOPATOLOGICO DE MAMA - PECA CIRURGICA
  * 205020097	ULTRASSONOGRAFIA MAMARIA BILATERAL
  * 208090037	CINTILOGRAFIA DE MAMA (BILATERAL)
  * 204030030	MAMOGRAFIA
  * 204030188	MAMOGRAFIA BILATERAL PARA RASTREAMENTO

## Bibliotecas utilizadas na análise exploratória

In [8]:
import pandas as pd
import numpy as np

## Variáveis de filtro

In [19]:
# filtro pelo cid
cid_filter = ['C500', 'C501', 'C502', 'C503', 'C504', 'C505', 'C506', 'C508', 'C509']

# dicionario de procedimentos
proc_id_dict = {
    '0201010569': 'BIOPSIA/EXERESE DE NÓDULO DE MAMA',
    '0201010585': 'PUNÇÃO ASPIRATIVA DE MAMA POR AGULHA FINA',
    '0201010607': 'PUNÇÃO DE MAMA POR AGULHA GROSSA',
    '0203010035': 'EXAME DE CITOLOGIA (EXCETO CERVICO-VAGINAL E DE MAMA)',
    '0203010043': 'EXAME CITOPATOLOGICO DE MAMA',
    '0203020065': 'EXAME ANATOMOPATOLOGICO DE MAMA - BIOPSIA',
    '0203020073': 'EXAME ANATOMOPATOLOGICO DE MAMA - PECA CIRURGICA',
    '0205020097': 'ULTRASSONOGRAFIA MAMARIA BILATERAL',
    '0208090037': 'CINTILOGRAFIA DE MAMA (BILATERAL)',
    '0204030030': 'MAMOGRAFIA',
    '0204030188': 'MAMOGRAFIA BILATERAL PARA RASTREAMENTO'
    }
proc_id_filter = list(proc_id_dict.keys())

## Função de filtro para arquivo SIA PA

In [21]:
def filter_cancer_content(df):
    """
    
    """
    return df[df.PA_CIDPRI.isin(cid_filter) & \
              df.PA_PROC_ID.isin(proc_id_filter)]

## Função para unir diversos arquivos em um único datraframe

In [27]:
def create_cancer_dataframe(file_paths):
    """

    """
    filtered_contents = [
      filter_cancer_content(pd.read_parquet(file_path))
      for file_path in file_paths
      ]

    return pd.concat(
        filtered_contents, 
        ignore_index=True)

## SIA PA: Teste de leitura de arquivo e verificação de colunas

---

In [9]:
file_paths = get_files('SP','2014','05','SIA','PA')
file_paths

['/content/colab/monitor/SP/2014/05/SIA/PA/PASP1405a.parquet.gzip',
 '/content/colab/monitor/SP/2014/05/SIA/PA/PASP1405b.parquet.gzip']

## Cria um único dataframe a partir dos conteúdos filtrados

In [28]:
cancer_dataframe = create_cancer_dataframe(file_paths)
cancer_dataframe

,PA_CODUNI,PA_GESTAO,PA_CONDIC,PA_UFMUN,PA_REGCT,PA_INCOUT,PA_INCURG,PA_TPUPS,PA_TIPPRE,PA_MN_IND,...,NU_PA_TOT,PA_INDICA,PA_CODOCO,PA_FLQT,PA_FLER,PA_ETNIA,PA_VL_CF,PA_VL_CL,PA_VL_INC,PA_SRV_C
0,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
1,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
2,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
3,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
4,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,2083116,352900,PG,352900,0000,0000,0000,05,61,I,...,68.43,5,1,K,0,,0.0,0.0,0.0,
2003,2035081,354870,PG,354870,0000,0000,0000,62,50,M,...,68.43,5,1,S,0,,0.0,0.0,0.0,
2004,2027356,354870,PG,354870,0000,0000,0000,05,50,M,...,68.43,5,1,R,0,,0.0,0.0,0.0,
2005,2077590,355030,MN,355030,7101,0000,0000,07,61,I,...,24.0,5,1,R,0,,0.0,0.0,0.0,
2006,2788950,355030,MN,355030,0000,0000,0000,02,50,M,...,24.2,5,1,K,0,,0.0,0.0,0.0,

In [26]:
cancer_dataframe

,PA_CODUNI,PA_GESTAO,PA_CONDIC,PA_UFMUN,PA_REGCT,PA_INCOUT,PA_INCURG,PA_TPUPS,PA_TIPPRE,PA_MN_IND,...,NU_PA_TOT,PA_INDICA,PA_CODOCO,PA_FLQT,PA_FLER,PA_ETNIA,PA_VL_CF,PA_VL_CL,PA_VL_INC,PA_SRV_C
0,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
1,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
2,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
3,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
4,2090236,350000,EP,350550,7101,0000,0000,07,61,I,...,24.0,5,1,K,0,,0.0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,2083116,352900,PG,352900,0000,0000,0000,05,61,I,...,68.43,5,1,K,0,,0.0,0.0,0.0,
2003,2035081,354870,PG,354870,0000,0000,0000,62,50,M,...,68.43,5,1,S,0,,0.0,0.0,0.0,
2004,2027356,354870,PG,354870,0000,0000,0000,05,50,M,...,68.43,5,1,R,0,,0.0,0.0,0.0,
2005,2077590,355030,MN,355030,7101,0000,0000,07,61,I,...,24.0,5,1,R,0,,0.0,0.0,0.0,
2006,2788950,355030,MN,355030,0000,0000,0000,02,50,M,...,24.2,5,1,K,0,,0.0,0.0,0.0,